<div class="w-full h-full flex items-center justify-center bg-[rgb(227,227,227)]">
    <div class="bg-[rgb(227,227,227)] h-full w-full flex flex-col rounded-b-xl">
        <div class="flex flex-row bg-[#E8E8E8] drop-shadow-lg">
            <div
                class="w-64 bg-[#000000] drop-shadow-lg h-12 items-center rounded-tr-full rounded-br-full flex justify-center">
                <p class="large text-center pt-2 gotham-book text-white">{{ actionMode == ActionMode.create ? 'Crear' :
                    'Editar'}} modelo</p>
            </div>
            <div class="w-full h-full flex justify-end">
                <mat-icon class="scale-75 fixed flex self-start text-gray-500 cursor-pointer mt-2 mr-2"
                    mat-dialog-close>close</mat-icon>
            </div>
        </div>
        <form [formGroup]="formGroup" class="flex flex-col justify-center items-center gap-2 mt-8">
            <div class="flex flex-col gap-x-3 w-full">
                <div class="flex flex-col justify-center items-center" *ngIf="actionMode == ActionMode.create">
                    <mat-label>Terminal:</mat-label>
                    <mat-form-field class="w-3/4">
                        <ngx-mat-select clientSide [options]="terminals" [multiple]="false" [hasSearchBox]="true"
                            [optionLabel]="'codName'" [optionValue]="'id'" formControlName="terminalId"
                            (selectionChange)="filterBrands($event)" [searchComparison]="searchComparisonFn">
                        </ngx-mat-select>
                    </mat-form-field>
                </div>

                <div class="flex flex-col justify-center items-center" *ngIf="actionMode == ActionMode.create">
                    <mat-label>Marca:</mat-label>
                    <mat-form-field class="w-3/4">
                        <ngx-mat-select clientSide [options]="filteredBrands" [multiple]="false" [hasSearchBox]="true"
                            [optionLabel]="'codName'" [optionValue]="'id'" formControlName="brandId"
                            (selectionChange)="filterCarModels($event)" [searchComparison]="searchComparisonFn">
                        </ngx-mat-select>
                    </mat-form-field>
                </div>

                <div class="flex flex-col justify-center items-center" *ngIf="actionMode == ActionMode.create">
                    <mat-label>Modelo:</mat-label>
                    <mat-form-field class="w-3/4">
                        <ngx-mat-select matTooltip="Selector solo de ayuda, no completa el formulario."
                            matTooltipPosition="above" clientSide [options]="filteredCarModels" [multiple]="false"
                            [hasSearchBox]="true" [optionLabel]="'codName'" [optionValue]="'id'"
                            [searchComparison]="searchComparisonFn">
                        </ngx-mat-select>
                    </mat-form-field>
                </div>

                <div class="flex flex-col justify-center items-center">
                    <mat-label>ID*</mat-label>
                    <mat-form-field appearance="fill" class="w-3/4">
                        <input matInput formControlName="mercedesModeloId" maxlength="3" required>
                    </mat-form-field>
                    <mat-error *ngIf="formGroup.controls['mercedesModeloId'].errors" class="-mt-5 mb-4">ID es
                        requerido.</mat-error>
                </div>
                <!-- <div class="flex flex-col justify-center items-center">
                    <mat-label>Nombre*</mat-label>
                    <mat-form-field appearance="fill" class="w-3/4">
                        <input matInput formControlName="name" required>
                    </mat-form-field>
                    <mat-error *ngIf="formGroup.controls['name'].errors" class="-mt-5 mb-4">Nombre es
                        requerido.</mat-error>
                </div> -->
                <div class="flex flex-col justify-center items-center">
                    <mat-label>Descripción</mat-label>
                    <mat-form-field appearance="fill" class="w-3/4">
                        <input matInput formControlName="description">
                    </mat-form-field>
                    <mat-error *ngIf="formGroup.controls['description'].errors" class="-mt-5 mb-4">Descripción es
                        requerida.</mat-error>
                </div>
            </div>
        </form>
        <div class="flex flex-row justify-center items-center gap-3 mt-5">
            <button type="button"
                class="w-24 h-10 px-4 py-3 bg-[#941c1c] rounded-md text-white outline-none hover:bg-[#cc4c4c] cursor-pointer focus:shadow-lg transform active:bg-[#AA0A0A]"
                mat-dialog-close>Cancelar</button>
            <button type="button"
                class="w-24 h-10 px-4 py-3 enabled:bg-[#294a71] rounded-md text-white outline-none enabled:hover:bg-[#376195] cursor-pointer enabled:focus:shadow-lg transform enabled:active:bg-[#15263a] disabled:bg-gray-500 disabled:hover:cursor-default"
                [class.spinner]="loading" [disabled]="loading" [disabled]="!formGroup || formGroup.invalid"
                (click)="save()">{{ accept }}</button>
        </div>
    </div>
</div>