<div
    class="{{ fullScreen.isEnabled ? 'h-fit w-screen' : 'h-full w-full' }} flex flex-col items-center justify-center p-4 overflow-hidden">
    <div
        class="relative bg-[rgb(227,227,227)] {{ fullScreen.isEnabled ? 'h-fit w-full' : 'h-full md:w-11/12' }} flex flex-col rounded-b-xl mt-4">
        <div *ngIf="!isXsOrSm" class="absolute flex justify-end w-full z-50 -mt-2 ml-2">
            <button mat-icon-button
                matTooltip="{{ fullScreen.isEnabled ? 'Salir de pantalla completa' : 'Pantalla completa' }}"
                matTooltipPosition="above" (click)="toggleFullscreen()"><mat-icon>{{
                    fullScreen.isEnabled ? 'fullscreen_exit' : 'fullscreen'}}</mat-icon></button>
        </div>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        <div class="flex flex-col md:flex-row w-full items-center bg-[#E8E8E8]">
            <div class="flex flex-row w-full">
                <div
                    class="w-52 md:w-80 bg-[#000000] h-28 items-center rounded-tr-full rounded-br-full flex justify-center">
                    <p class="large text-center pr-5 pl-2 pt-2 gotham-book text-white">Ventas - Procesamiento de errores</p>
                </div>
                <div class="flex items-center flex-col md:flex-row ml-3 pt-1">
                    <div class="relative flex flex-row mt-6  md:-mt-5 mr-5 md:mr-0">
                        <input (keyup)="applyFilter($event)" #input
                            class="gotham-book h-10 {{fullScreen.isEnabled ? 'md:w-72' : 'md:w-56'}} w-40 rounded-full pl-3 drop-shadow-xl pr-7 z-10">
                        <div
                            class="flex flex-row items-center -ml-6 bg-[#294A71] drop-shadow-xl h-10 rounded-full w-14 md:w-28 justify-center z-20">
                            <mat-icon class="text-white">search</mat-icon>
                            <p class="gotham-book text-white pt-2.5 pl-1 hidden md:inline">Buscar</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="table-container {{ fullScreen.isEnabled ? 'max-h-[34rem]' : 'max-h-[550px]' }}">
            <mat-table [dataSource]="dataSource" matSort matSortActive="errores" matSortDirection="asc"
                class="mat-elevation-z8 mt-3 md:mt-0 overflow-x-auto">
                <ng-container matColumnDef="yearMonth">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        AÑO/MES </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Año natural/Mes:</span>
                        {{ element.yearMonth ? element.yearMonth : '-' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="codBrand">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        MARCA ID </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">MarcaId:</span>
                        {{element.codBrand ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Brand">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        MARCA </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Marca:</span>
                        {{element.brand ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="codModel">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        MODELO ID</th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Modelo:</span>
                        {{element.codModel ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Model">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        MODELO </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Modelo:</span>
                        {{element.model ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="codTrademark">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        GRADO ID
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Grado:</span>
                        {{element.codTrademark ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Trademark">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        GRADO
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Grado:</span>
                        {{element.trademark ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="doorsQty">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        PUERTAS
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Puertas:</span>
                        {{element.doorsQty ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="engine">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        CILINDRADA
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Cilindrada:</span>
                        {{element.engine ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="motorType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        TIPO DE MOTOR
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Tipo de Motor:</span>
                        {{element.motorType ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="fuelType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        COMBUSTIBLE
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Combustible:</span>
                        {{element.fuelType ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="power">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        POTENCIA
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Potencia:</span>
                        {{element.power ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="powerUnit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        UNIDAD DE POTENCIA
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Unidad de Potencia:</span>
                        {{element.powerUnit ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="vehicleType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        TIPO DE VEHÍCULO
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Tipo de Vehiculo:</span>
                        {{element.mercedesVehicleType ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="traction">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        TRACCIÓN
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Tracción:</span>
                        {{element.traction ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="gearsQty">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        CANTIDAD DE MARCHAS
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Cantidad de Marchas:</span>
                        {{element.gearsQty ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="transmissionType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        TIPO DE TRANSMISIÓN
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Tipo de Transmisión:</span>
                        {{element.transmissionType ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="axleQty">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        CANTIDAD DE EJES
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Cantidad de Ejes:</span>
                        {{element.axleQty ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        PESO
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Peso:</span>
                        {{element.weight ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="loadCapacity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        CAPACIDAD DE CARGA
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Capacidad de Carga:</span>
                        {{element.loadCapacity ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        CATEGORÍA
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Categoría:</span>
                        {{element.mercedesCategory ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="origin">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        ORIGEN DEL VEHÍCULO
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Origen del vehìculo:</span>
                        {{element.origin ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="initialStock">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        STOCK INICIAL
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Stock inicial:</span>
                        {{element.initialStock ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="import_ProdMonth">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        IMPORT/PROD. MES
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Import/Prod. Mes:</span>
                        {{element.import_ProdMonth ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="import_ProdAccum">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        IMPORT/PROD. ACUM.
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Import/Prod. Acum.:</span>
                        {{element.import_ProdAccum ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="monthlySale">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        VENTA MENSUAL RS
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Venta mensual RS:</span>
                        {{element.monthlySale ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="monthlyAccum">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        VENTA ACUMULADA
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Venta Acumulada:</span>
                        {{element.monthlyAccum ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="exportMonthly">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        EXPORTACIÓN MENSUAL
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Exportación Mensual:</span>
                        {{element.exportMonthly ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="exportAccum">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        EXPORTACIÓN ACUMULADA
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Exportación Acumulada:</span>
                        {{element.exportAccum ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="savingSystemMonthly">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        SIST. AHORRO MES
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Sist. Ahorro Mes:</span>
                        {{element.savingSystemMonthly ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="savingSystemAccum">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        SIST. AHORRO ACUM.
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Sist. Ahorro Acum.:</span>
                        {{element.savingSystemAccum ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="finalStock">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        STOCK FINAL
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Stock Final:</span>
                        {{element.finalStock ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="noOkStock">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="gotham-bold text-[#152A43] uppercase">
                        STOCK NO OK
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-book info">
                        <span class="mobile-label">Stock No OK:</span>
                        {{element.noOkStock ?? '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="errores"
                        class="gotham-bold text-[#152A43] uppercase">
                        ESTADO
                    </th>
                    <td mat-cell *matCellDef="let element" class="gotham-bold info"
                        [ngStyle]="element.statePatenta.name == 'Error' ? {'color':'red'} : {'color': 'green'}">
                        <span class="mobile-label">ESTADO:</span>
                        {{element.statePatenta.name == 'Error' ? 'ERROR' : 'OK'}} {{element.errores ?? ''}} <span
                            *ngIf="fullScreen.isEnabled"><br /> {{ element.errorName ?? ''}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef class="gotham-bold text-[#152A43] uppercase"> ACCIONES </th>
                    <td mat-cell *matCellDef="let element"
                        class="flex flex-row items-center gap-3 mt-3 gotham-book info">
                        <button *ngIf="element.statePatenta.name == 'Error'" matTooltip="Corregir '{{element.codTrademark}}'"
                            matTooltipPosition="above" class="bg-blue-950 rounded-full h-6 w-6"
                            (click)="createOrUpdate(element)">
                            <mat-icon class="text-white text-center scale-75">edit</mat-icon>
                        </button>
                        <button matTooltip="Borrar '{{element.codTrademark}}'" matTooltipPosition="above"
                            class=" bg-red-600 rounded-full h-6 w-6" (click)="confirmDelete(element)">
                            <mat-icon class="text-white text-center scale-75">close</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="titulos mat-header-row">
                </tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="height mat-row row-hover"></tr>
                <tr *matNoDataRow>
                    <td class="mat-cell" colspan="5">No se encontró el resultado: "{{input.value}}"</td>
                </tr>
            </mat-table>
        </div>
        <hr class="h-0.5 mt-2 w-[95%] border-[#757575ad] border-solid rounded-full self-center">
        <div class="w-[70%] md:w-full flex flex-col md:flex-row">
            <p class="w-full gotham-book flex items-center justify-start pl-5 md:pl-10" *ngIf="errorsQty >= 1">Se {{
                errorsQty > 1 ? 'encontraron' : 'encontró' }}
                {{errorsQty}} {{ errorsQty > 1 ? 'errores' : 'error' }}.</p>
            <div class="w-[150%] flex items-end md:justify-end">
                <mat-paginator hidePageSize="true" showFirstLastButtons="true" [pageSize]="pageSize"
                    class="bg-[rgb(227,227,227)] flex justify-end"></mat-paginator>
            </div>
        </div>
    </div>
</div>