.table-responsive {
  display: block !important;
  width: 100% !important;
  overflow-x: auto !important;
}

mat-table {
  width: 1200px !important;
  max-width: 1200px !important;
  margin-bottom: 1rem !important;
  display: table !important;
  border-collapse: collapse !important;
  margin: 0px !important;
}

mat-row,
mat-header-row {
  display: table-row !important;
}
mat-cell,
mat-header-cell {
  word-wrap: initial !important;
  display: table-cell !important;
  padding: 15px 5px 0px 5px !important;
  line-break: unset !important;
  width: auto !important;
  height: 50px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  vertical-align: middle !important;
}

.titles {
  background-color: #a8a8a8 !important;
  height: 45px !important;
}
