.large {
  font-size: larger !important;
}

.titulos {
  background-color: #a8a8a8 !important;
  height: 45px !important;
}

.info {
  border: none !important;
}

.height {
  height: 45px !important;
}

.mat-elevation-z8 {
  box-shadow: none;
  max-width: 100%;
  background-color: rgb(227, 227, 227) !important;
  overflow-x: auto;
}

table th:first-child {
  border-radius: 0 0 0 15px;
}

table th:last-child {
  border-radius: 0 0 15px 0;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  border-bottom-width: 1px;
  border-bottom-style: none;
}

.mat-sort-header-container {
  justify-content: center !important;
}

td,
th {
  text-align: center !important;
  vertical-align: middle !important;
}

tr.row-hover:hover {
  background: #efefef;
}

.mobile-label {
  display: none !important;
}

.table-container {
  display: flex;
  flex-direction: column;
}

.mat-column-archivo,
.mat-column-estado,
.mat-column-cantidad_registros,
.mat-column-fecha_carga {
  width: 20%;
}

.mat-column-acciones {
  width: 100%;
}

@media (max-width: 767px) {
  .mobile-label {
    width: 120px !important;
    display: inline-block !important;
    font-weight: bold !important;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    display: flex;
    flex-direction: column !important;
    padding: 8px 24px !important;
  }

  .height {
    height: 250px !important;
  }

  .table-container {
    overflow-y: auto;
  }

  .mat-column-archivo,
  .mat-column-estado,
  .mat-column-cantidad_registros,
  .mat-column-fecha_carga {
    width: 100%;
  }

  .mat-sort-header-container {
    justify-content: flex-start !important;
  }

  td,
  th {
    text-align: start !important;
    vertical-align: center !important;
  }
}
